<h1>
  {{title}}
</h1>
<mdl-icon mdl-badge="1" mdl-badge-overlap>account_box</mdl-icon>
<mdl-icon mdl-badge="♥" mdl-badge-overlap>account_box</mdl-icon>
<button mdl-button  mdl-button-type="fab" mdl-colored="accent" mdl-ripple>
  <mdl-icon>add</mdl-icon>
</button>

<i class="material-icons  mdl-1-18">😼</i>
<i class="material-icons">&#x2191;</i>
<i class="material-icons ">&#xD83D;&#xDE3A;</i>
<i class="material-icons ">&hearts;</i>

<mdl-card mdl-shadow="2">
  <mdl-card-title>
    <h2 mdl-card-title-text>Welcome</h2>
  </mdl-card-title>
  <mdl-card-supporting-text>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Mauris sagittis pellentesque lacus eleifend lacinia...
  </mdl-card-supporting-text>
  <mdl-card-actions mdl-card-border>
    <button mdl-button mdl-colored mdl-ripple>Get Started</button>
  </mdl-card-actions>
  <mdl-card-menu>
    <button mdl-button mdl-button-type="icon" mdl-ripple>
      <mdl-icon>share</mdl-icon>
    </button>
  </mdl-card-menu>
</mdl-card>
